@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

/* Custom styles for your application */
.card {
  max-width: 100%; /* Prevent the card from exceeding the width of its container */
  height: auto; /* Allow the height to adjust based on content */
}

.grid {
  overflow: hidden; /* Prevent overflow issues */
}

